PHP_APP_DEBUG=false

PHP_DATABASE_TYPE=mysql
PHP_DATABASE_HOSTNAME=mysql-host
PHP_DATABASE_HOSTPORT=3306
PHP_DATABASE_DATABASE=crmeb
PHP_DATABASE_USERNAME=crmeb
PHP_DATABASE_PASSWORD=replace-with-secret
PHP_DATABASE_CHARSET=utf8
PHP_DATABASE_PREFIX=eb_
PHP_DATABASE_DEBUG=false

PHP_CACHE_DRIVER=redis
PHP_CACHE_CACHE_PREFIX=replace-with-random-prefix:
PHP_CACHE_CACHE_TAG_PREFIX=replace-with-random-tag-prefix:
PHP_REDIS_REDIS_HOSTNAME=redis-host
PHP_REDIS_PORT=6379
PHP_REDIS_REDIS_PASSWORD=replace-with-secret
PHP_REDIS_SELECT=0

PHP_SESSION_TYPE=cache
PHP_SESSION_STORE=redis
PHP_QUEUE_QUEUE_NAME=replace-with-random-queue-name
